<div style="display: flex; justify-content: center;">
  <div style="display: flex; flex-direction: column; min-width: 60%; max-width: 80%;">
    <div>
      <img src={{agency.logo}} style="position: absolute; float: left;width: 60px;margin-bottom: 5px;">
      <h3 style="text-align: center;">{{agency.name}} - {{agency.city}}</h3>
    </div>
    <div style="display: flex; flex-direction: column;flex-wrap: nowrap; border-radius: 20px; border: 1px solid; padding: 10px;border-color: #A5A4A0;">
      <h4>Liste des pôles de l'agence :</h4>
      <div style="border: solid 1px;border-color: #A5A4A0;">
        <div *ngFor="let pole of poles" (click)="changeSelectedPole(pole._id)" [style.backgroundColor]="getStyle(pole._id)">Pôle {{pole.name}}</div>
      </div>
      <div style="display: flex; flex-direction: column; text-align: center;">
        <div *ngIf="emptyPoles">Il n'existe encore aucun pôle dans cette agence</div>
        <div *ngIf="!emptyPoles" style="margin: 10px;"><button routerLink="/pole/{{agency._id}}/{{selectedPoleId}}">Valider</button></div>
      </div>
    </div>
  </div>
</div>
