<div style="display: flex; justify-content: center;">
  <div style="display: flex; flex-direction: column; min-width: 60%; max-width: 80%;">
    <div>
      <img src={{agency.logo}} style="position: absolute; float: left;width: 100px;">
      <h3 style="text-align: center; text-decoration: underline">{{agency.companyName}}</h3>
    </div>
    <div style="display: flex; flex-direction: column; flex-wrap: nowrap; align-items: center; border-radius: 20px; border: 1px solid; padding: 10px;">
      <h4 style="text-align: center;">{{person.firstname}} {{person.name}}</h4>
      <div style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 10px;">
        <div style="border: 1px solid; width: 60%;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque ante dolor, ac malesuada augue finibus volutpat. Nunc nec arcu eros. Maecenas venenatis nulla in elit tristique, sed consequat odio ultricies. Donec in libero gravida, placerat nisi non, ultricies ante. Aliquam erat volutpat. Quisque id posuere nulla, eget mattis mauris. Sed est nunc, luctus vitae sodales vitae, eleifend sed velit. Curabitur at rhoncus mi. Ut convallis vitae nisl vulputate interdum. Etiam eget rutrum ex. Pellentesque at volutpat dui, nec malesuada velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis consectetur vel enim eget blandit. Etiam mollis eleifend dapibus. Suspendisse sagittis eu nisl ut aliquet. Vivamus sit amet est dictum, luctus ligula at, rhoncus ipsum.
          </p>
        </div>
        <div style="display: flex; flex-direction: column; width: 30%; align-items: center;">
          <img src="https://www.lalettre.pro/photo/art/default/8247299-12894008.jpg?v=1441874694" style="width: 150px;">
        </div>
      </div>
      <div style="border: 1px solid; border-radius: 10px; padding: 10px; width: 70%;">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque ante dolor, ac malesuada augue finibus volutpat. Nunc nec arcu eros. Maecenas venenatis nulla in elit tristique, sed consequat odio ultricies. Donec in libero gravida, placerat nisi non, ultricies ante. Aliquam erat volutpat. Quisque id posuere nulla, eget mattis mauris. Sed est nunc, luctus vitae sodales vitae, eleifend sed velit. Curabitur at rhoncus mi. Ut convallis vitae nisl vulputate interdum. Etiam eget rutrum ex. Pellentesque at volutpat dui, nec malesuada velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis consectetur vel enim eget blandit.
        </p>
      </div>
      <div style="margin: 10px;"><button routerLink="/agencyPlan/{{agency.id}}">Plan de la personne</button></div>
    </div>
  </div>

</div>
