<div style="display: flex; justify-content: center;">
  <div style="display: flex; flex-direction: column; min-width: 60%; max-width: 80%;">
    <div>
      <img src={{agency.logo}} style="position: absolute; float: left;width: 60px;margin-bottom: 5px;">
      <h3 style="text-align: center;">{{agency.companyName}} - {{agency.city}}</h3>
    </div>
    <div style="display: flex; flex-direction: column;flex-wrap: nowrap; border-radius: 20px; border: 1px solid; padding: 10px; text-align: center;border-color: #A5A4A0;">
      <h4 style="text-decoration: underline">Pôle {{pole.name}} - {{project.name}}</h4>
      <div style="border: 1px solid; border-radius: 10px; padding: 5px; margin: 5px; border-color: #A5A4A0;">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque ante dolor, ac malesuada augue finibus volutpat. Nunc nec arcu eros. Maecenas venenatis nulla in elit tristique, sed consequat odio ultricies. Donec in libero gravida, placerat nisi non, ultricies ante. Aliquam erat volutpat. Quisque id posuere nulla, eget mattis mauris. Sed est nunc, luctus vitae sodales vitae, eleifend sed velit. Curabitur at rhoncus mi. Ut convallis vitae nisl vulputate interdum. Etiam eget rutrum ex. Pellentesque at volutpat dui, nec malesuada velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis consectetur vel enim eget blandit. Etiam mollis eleifend dapibus. Suspendisse sagittis eu nisl ut aliquet. Vivamus sit amet est dictum, luctus ligula at, rhoncus ipsum.
        </p>
      </div>
      <div style="margin: 10px;"><button routerLink="/plan/{{agency.id}}">Plan d'équipe</button></div>
      <h5>Liste des personnes du projet :</h5>
      <div style="border: solid 1px;border-color: #A5A4A0;">
        <div *ngFor="let person of persons" (click)="changeSelectedPerson(person.id)" [style.backgroundColor]="getStyle(person.id)">{{person.firstname}} {{person.name}} - {{person.role}}</div>
      </div>
        <div style="margin: 10px;"><button routerLink="/person/{{selectedPersonId}}">Voir la personne</button></div>
    </div>
  </div>
</div>
