<div style="display: flex; justify-content: center;">
  <div style="margin-top: 80px; display: flex; flex-direction: column; align-items: center; width: 30%; border-radius: 20px; border: 1px solid; padding: 10px;">
    <div>
      <img src="https://logomarts.files.wordpress.com/2015/07/logo-example2.jpg" style="width: 150px;">
    </div>
    <p style="text-align: center;">Entrez votre adresse mail pour reinitialiser votre mot de passe</p>
    <input type="text" placeholder="Adresse mail">
    <br>
    <button>Envoyer</button>

  </div>
</div>
